
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>


<!-- justify-content-center-->
<!--  style="background: linear-gradient(#4FABB5, #455B56);"         style="background:rgba(0,0,0,0.5);" -->
<nav class="navbar navbar-expand-md navbar-wrapper" >
  <a class="navbar-brand  nav-bar-stylex" href="#">
    <img src="theicon.png" height="35" class="d-inline-block align-top" style="opacity: 0.5;">
    DataWatch Tecs
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="border-color: rgb(255,255,255);"></span>
  </button>


  <div class="collapse navbar-collapse"  id="navbarNavDropdown">

    <ul class="navbar-nav" style='text-align: right;'>
      <li class="nav-item active">
        <a class="nav-link" href="/" style="color: white;">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/graficos/new" style="color: white;">Gráficos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/manejo-data" style="color: white;" [hidden]="!isAdmin">Manejo Data</a>
      </li>


      <li class="nav-item active">
        <a class="nav-link justify-content-right" href="/login" style="color: white;" [hidden]="checkiflogged()" ng-click= "" (click)="salirse();doGreeting('Deslogueado con Exito!')" >Logout</a>
      </li>
    </ul>

  </div>
</nav>
