
<div class="container">
  <div [hidden]="submitted" >
    <h1>Selección de Fecha e IDs</h1>
    <form (ngSubmit)="onSubmit()" #GraficosComponent="ngForm">

    <fieldset>

    <div class="form-group" >
        <label for="Fecha">Fecha de toma de datos</label>
        <select class="form-control"
                id="Fecha"
                required
                [(ngModel)]="Currfecha"
                name="fecha"
                #fecha="ngModel"
                (change)="getIds($event.target.value)">
          <option *ngFor="let fecha of fechas" [value]="fecha">{{fecha | date}}</option>
        </select>
      </div>

      <div class="form-group" [hidden]="hididbus">
        <label for="idBus">ID del Bus</label>
        <select class="form-control" id="idBus"
                required
                [(ngModel)]="Currid" name="idBus"
                #idBus="ngModel" >
          <option *ngFor="let i of ids">{{i}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!GraficosComponent.form.valid" >Procesar Graficos</button>

    </fieldset>
    </form>
  </div>

  <div [hidden]="!submitted">

    <h2>Mostrando reporte basados en la siguientes elecciones:</h2>
    <div class="row">
      <div class="col-xs-3">Fecha :  </div>
      <div class="col-xs-9  pull-left">{{ Currfecha }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">ID Bus :  </div>
      <div class="col-xs-9 pull-left">{{ Currid }}</div>
    </div>
    <br>

    <button class="btn btn-primary" (click)="hidePlots()">Cambiar Fecha</button>

    <div [hidden]="!showGraphs">
      <p></p>
      <p>
        <button class="btn btndownload" (click)="obtReporte()"> Descargar reporte </button>
     </p>
     <div>
      <h1>Velocidad</h1><p></p>

      <div #Velocidad id="downvelocida">
        <!-- Chart will appear here -->
      </div>

      <h1>Temperatura</h1><p></p>

      <div #Temperatura id="downtemperatura">
        <!-- Chart will appear here -->
      </div>

      <h1>Combustible</h1><p></p>

      <div #Combustible id="downcombustible">
        <!-- Chart will appear here -->
      </div>
    </div>
    </div>

  </div>


</div>
