
<div class="container">
  <div [hidden]="submitted" >
    <h1>Selección de Fecha e IDs</h1>
    <form (ngSubmit)="onSubmit()" #GraficosComponent="ngForm">

    <div class="form-group" >
        <label for="Fecha">ID del bus</label>
        <select class="form-control"
                id="idBus"
                required
                [(ngModel)]="Currid"
                name="idBus"
                #fecha="ngModel"
                (change)="getFechas($event.target.value)">
          <option *ngFor="let i of ids">{{i}}</option>
        </select>
      </div>

      ¿Desea elegir el dia a graficar? <input type="checkbox" [(ngModel)]="hidfechatoma" (change)="!hidfechatoma" name="DiasEspecificos">

      <p></p>

      <div class="form-group" [hidden]="!hidfechatoma">
        <label for="idBus">Dia de la toma</label>
        <select class="form-control" id="Fecha"
                required
                [(ngModel)]="Currfecha" name="fecha"
                #idBus="ngModel" >
          <option *ngFor="let fecha of fechas" [value]="fecha">{{fecha | date}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" style="width:200px;background-color: #061539;" [disabled]="!Butt">Procesar Graficos</button>

    </form>
  </div>

  <div [hidden]="!submitted" class="container align-items-center"style="vertical-align: middle;" >

    <h2>Mostrando reporte basados en la siguientes elecciones</h2>
    <div class="row justify-content-center" [hidden]="!hidfechatoma">
      <div class="col-xs-3">Fecha: </div>
      <div class="col-xs-9  pull-left">{{ Currfecha }}</div>
    </div>
    <div class="row justify-content-center" [hidden]="hidfechatoma">
      <div class="col-xs-3">Todas las fechas. </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xs-3">ID Bus: </div>
      <div class="col-xs-9 pull-left">{{ Currid }}</div>
    </div>
    <br>

    <button class="btn btn-primary"   style="width:200px; background-color: #061539;" (click)="hidePlots()">Cambiar Fecha</button>

    <div [hidden]="!showGraphs">
      <p></p>
      <p>
        <button class="btn btndownload" style="width:200px; background-color: #061539;" (click)="obtReporte()" style="display:inline-block;"> Descargar reporte </button>
     </p>
    </div>
    <div [hidden]="!showGraphs">
        <div class="card bg-transparent" >
            <div class="card-body">
                <p>Velocidad promedio: {{promVelocidad}} [km/h]</p>
                <p>Temperatura interna promedio: {{promTemperatura}} [ºC]</p>
                <p>Combustible promedio utilizado: {{promCombustible}} [L/h]</p>
          </div>
        </div>
        <div class="card bg-transparent mt-1" id="downvelocida" style="display: inline-block;">
              <div class="card-header">
                  <h1 class="card-title">Velocidad</h1><p></p>
              </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div #Velocidad>
                <!-- Chart will appear here -->
                </div>
                </div>
            </div>
        </div>

        <div class="card bg-transparent mt-2" id="downtemperatura" style="display: inline-block;">
            <div class="card-header">
                <h1>Temperatura</h1><p></p>
            </div>
            <div class="card-body">
              <div class="row justify-content-center aling-items-center">
                <div #Temperatura >
                  <!-- Chart will appear here -->
                </div>s
              </div>
            </div>
        </div>

        <div class="card bg-transparent mt-2"  id="downcombustible" style="display: inline-block;">
            <div class="card-header">
                <h1>Combustible</h1><p></p>
            </div>
            <div class="card-body" >
              <div class="row justify-content-center aling-items-center">
                <div #Combustible>
                  <!-- Chart will appear here -->
                </div>
              </div>
            </div>
        </div>
</div>
