.image{
    background-image: url('Fondo.jpg');
    background-repeat: repeat;
    height: 1500px;
    width: 100%;
    background-color: powderblue;
    color: #CACCCD;
    text-align: center;   /* Como se verá el texto center justify left right */
    text-justify: inter-word;
}
