<div class="container" [hidden]="!Memes">
    <form (ngSubmit)="onSubmit()" #GraficosComponent="ngForm">
        <div class="form-group" >
            <label for="Fecha">Fecha de toma de datos</label>
            <select class="form-control"
                    id="FechArch"
                    required
                    [(ngModel)]="Dia"
                    name="fecha"
                    #fecha="ngModel"
                    (change)="PickDate($event.target.value)">
              <option *ngFor="let fecha of DataDias" [value]="fecha">{{fecha | date}}</option>
            </select>
         </div>
         <p [hidden]="!Warning"> Este archivo ya se encuentra en la base de datos </p>
         <button type="submit" class="btn btn-primary" style="width:200px; background-color: #061539;" [disabled]="!itCanBeDone" >Procesar CSV</button>
    </form>
</div>

<div class="container" [hidden]="Memes">
    <div class="centered">
      <img src="/assets/load.svg" >
    </div>
    <p></p>
    <h1>Procesando CSV</h1>
</div>
