/* You can add global styles to this file, and also import other style files */



.btndownload {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  cursor: pointer;
  /*font-size: 20px;*/

  background-image: url('app/download.png');
  background-repeat: no-repeat;
  background-position: 4px 4px;
  height: 38px;           /* make this the size of your image */
  padding-left: 38px;     /* make text start to the right of the image */
  vertical-align: middle;


}



/* Darker background on mouse-over */
.btndownload:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}



.nav-bar-stylex {
      color: gray;
      text-shadow: -0.8px 0 white, 0 0.8px white, 0.8px 0 white, 0 -0.8px white;
}

.nav-bar-offstylex {
  color: white;
  text-align: right;
}

/* FONDO DE PAGINA*/
.image{
    /*
    background-image: url('app/Fondo.jpg');
    background-repeat: repeat;

    background-color: powderblue;
    */
    height: 5000px;
    width: 100%;
    background: linear-gradient(#455B56, #111A18);
    color: #CACCCD;
    text-align: center;   /* Como se verá el texto center justify left right */
    text-justify: inter-word;
}
