/* You can add global styles to this file, and also import other style files */



.btndownload {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  cursor: pointer;
  /*font-size: 20px;*/

  background-image: url('app/download.png');
  background-repeat: no-repeat;
  background-position: 4px 4px;
  height: 38px;           /* make this the size of your image */
  padding-left: 38px;     /* make text start to the right of the image */
  vertical-align: middle;


}



/* Darker background on mouse-over */
.btndownload:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.navbar-wrapper {
    background: rgba(0,0,0,0.4);
}

.nav-bar-stylex {
      color: black;
      text-shadow: -0.8px 0 white, 0 0.8px white, 0.8px 0 white, 0 -0.8px white;
      opacity: 1;
       filter: alpha(opacity=100);
}

.nav-bar-offstylex {
  color: black;
  text-align: right;
}


/* FONDO DE PAGINA*/
.image{

    background-image: url('app/Fondo.jpg');
    background-repeat: repeat;
    background-color: powderblue;
    height: 2000px;
    width: 100%;
    /*background: linear-gradient(#455B56, #111A18);*/

    /*background-image: linear-gradient(to bottom, #455B56 100%, rgba(255, 255, 255, 0) 0);*/
    color: #CACCCD;
    text-align: center;   /* Como se verá el texto center justify left right */
    text-justify: inter-word;
}
